/* Gray */
.default {
  border-color: red;
  color: black;
	margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	cursor: pointer;
}


p {
    border: 2px solid black;
    outline: red solid 10px;
    margin: auto;    
    padding: 30px;
    text-align: center;
	font-family: "Comic Sans MS";
	color: red;
}

h1 {
	color: yellow;
}

a {
	color: black;
}

.indexhtml {
	cursor: url('images/flower.jpg'), auto;
}
